<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content>
  <p> Buscar por: </p>
  <ion-input type="text" [(ngModel)]="pesquisa" placeholder="Pesquisar"></ion-input>


  <ion-card>
    <img src="{{livro.capa}}"/>
    <ion-card-header>
      <ion-card-subtitle> {{livro[0].autor}} </ion-card-subtitle>
      <ion-card-title class="titulo"> {{livro[0].titulo}} </ion-card-title>
      <ion-card-subtitle class="preco">R${{livros[0].preco}}</ion-card-subtitle>
      <div class = "favorito">
        <ion-icon name="heart-outline" color="danger" size="large"></ion-icon>
      </div>
    </ion-card-header>
  </ion-card>
</ion-content>-->
